<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940929952913-rga5jikmp6nc3ucv9kkhqmibl4b01sbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940929952913-rga5jikmp6nc3ucv9kkhqmibl4b01sbl</string>
	<key>API_KEY</key>
	<string>AIzaSyDGNuxyN7RV0fp8P8FkMPRxjLLyqvlRLPs</string>
	<key>GCM_SENDER_ID</key>
	<string>940929952913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.teste</string>
	<key>PROJECT_ID</key>
	<string>livinbrazil-ab448</string>
	<key>STORAGE_BUCKET</key>
	<string>livinbrazil-ab448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940929952913:ios:c71d47c160e08fe24d2330</string>
</dict>
</plist>